<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">  
	<context:component-scan base-package="cn.mldn.mldnspring"/>	<!-- 定义扫描包 -->
	<!-- 2、根据工厂类创建一个临时的本地接口对象，该接口对象与远程的真实接口对象对应 -->
	<bean id="messageClient" class="cn.mldn.mldnspring.service.IMessageService" factory-bean="clientFactory" factory-method="create"/>
	<!-- 1、尽管使用了spring进行管理，但是整体的项目之中依然需要有一个代理程序 -->
	<bean id="clientFactory" class="org.apache.cxf.jaxws.JaxWsProxyFactoryBean">
		<!-- 定义出需要被代理的业务接口对象信息 -->
		<property name="serviceClass" value="cn.mldn.mldnspring.service.IMessageService"/>
		<property name="address" value="http://192.168.28.87:7777/message"/>
	</bean>
</beans>
