<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd">
	<!-- 进行指定类型的Bean对象实例化处理操作，容器启动的时候会自动进行对象实例化 -->
	<bean id="empA" class="cn.mldn.mldnspring.vo.Emp">
		<!-- 对于此时的属性要求只有定义了setter方法之后才可以进行配置 -->
		<property name="empno" value="7369"/>	<!-- 此处设置的是一个字符串 -->
		<property name="ename" value="SMITH"/>
		<property name="age" value="30"/>	<!-- 此处设置的是一个字符串 -->
		<property name="salary" value="789.99"/>
		<property name="hiredate">	<!-- 直接配置一个内部的Bean类 -->
			<bean class="java.util.Date"/>			
		</property>
		<property name="dept" ref="dept"/>
	</bean> 
	<bean id="empB" class="cn.mldn.mldnspring.vo.Emp">
		<!-- 对于此时的属性要求只有定义了setter方法之后才可以进行配置 -->
		<property name="empno" value="7566"/>	<!-- 此处设置的是一个字符串 -->
		<property name="ename" value="ALLEN"/>
		<property name="age" value="30"/>	<!-- 此处设置的是一个字符串 -->
		<property name="salary" value="789.99"/>
		<property name="hiredate">	<!-- 直接配置一个内部的Bean类 -->
			<bean class="java.util.Date"/>			
		</property>
		<property name="dept" ref="dept"/>
	</bean>
	<bean id="empC" class="cn.mldn.mldnspring.vo.Emp">
		<!-- 对于此时的属性要求只有定义了setter方法之后才可以进行配置 -->
		<property name="empno" value="7788"/>	<!-- 此处设置的是一个字符串 -->
		<property name="ename" value="KING"/> 
		<property name="age" value="30"/>	<!-- 此处设置的是一个字符串 -->
		<property name="salary" value="789.99"/>
		<property name="hiredate">	<!-- 直接配置一个内部的Bean类 -->
			<bean class="java.util.Date"/>			
		</property>
		<property name="dept" ref="dept"/>
	</bean>
	<bean id="dept" class="cn.mldn.mldnspring.vo.Dept">
		<property name="deptno" value="10"/>
		<property name="dname" value="财务部"/>
		<property name="emps">
			<map>
				<entry key="emp-a" value-ref="empA"/>
				<entry key="emp-b" value-ref="empB"/>
				<entry key="emp-c" value-ref="empC"/>
			</map>
		</property> 
	</bean>

</beans>
